@charset "UTF-8";

@font-face {
  font-family: "bk-glyphs";
  src:url("../font/bk-glyphs.eot");
  src:url("../font/bk-glyphs.eot?#iefix") format("embedded-opentype"),
    url("../font/bk-glyphs.woff") format("woff"),
    url("../font/bk-glyphs.ttf") format("truetype"),
    url("../font/bk-glyphs.svg#bk-glyphs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bk-glyphs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bk-"]:before,
[class*=" bk-"]:before {
  font-family: "bk-glyphs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bk-logo-inverse:before {
  content: "2";
}
.bk-logo-border:before {
  content: "0";
}
.bk-logo-border-inverse:before {
  content: "1";
}
.bk-envelope:before {
  content: "E";
}
.bk-markup:before {
  content: "/";
}
.bk-nav-next:before {
  content: ">";
}
.bk-nav-prev:before {
  content: "<";
}
.bk-linux:before {
  content: "x";
}
.bk-menu:before {
  content: ":";
}
.bk-tag:before {
  content: "#";
}
.bk-want:before {
  content: "W";
}
.bk-travel:before {
  content: "^";
}
.bk-performance:before {
  content: "s";
}
.bk-food:before {
  content: "F";
}
.bk-bug:before {
  content: "b";
}
.bk-android:before {
  content: "A";
}
.bk-idea:before {
  content: "i";
}
.bk-experiment:before {
  content: "X";
}
.bk-ftw:before {
  content: "w";
}
.bk-css3:before {
  content: "3";
}
.bk-html5:before {
  content: "5";
}
.bk-security:before {
  content: "S";
}
.bk-bitcoin:before {
  content: "B";
}
.bk-hot:before {
  content: "H";
}
.bk-leisure:before {
  content: "d";
}
.bk-tip:before {
  content: "t";
}
.bk-music:before {
  content: "m";
}
.bk-location:before {
  content: "L";
}
.bk-road:before {
  content: "R";
}
.bk-save:before {
  content: "*";
}
.bk-game:before {
  content: "G";
}
.bk-video:before {
  content: "v";
}
.bk-event:before {
  content: "e";
}
.bk-cc:before {
  content: "c";
}
.bk-alert:before {
  content: "a";
}
.bk-weak:before {
  content: "-";
}
.bk-nice:before {
  content: "+";
}
.bk-tools:before {
  content: "T";
}
.bk-mobile:before {
  content: "M";
}
.bk-python:before {
  content: "P";
}
.bk-privacy:before {
  content: "p";
}
.bk-cc-sa:before {
  content: "C";
}
.bk-quote:before {
  content: "q";
}
.bk-javascript:before {
  content: "J";
}
.bk-twitter:before {
  content: "@";
}
.bk-gplus:before {
  content: "g";
}
.bk-facebook:before {
  content: "f";
}
.bk-github:before {
  content: "h";
}
.bk-rss:before {
  content: "r";
}
.bk-phone:before {
  content: "l";
}
.bk-cc-by:before {
  content: "Y";
}
.bk-cc-nc:before {
  content: "$";
}
.bk-cc-nd:before {
  content: "=";
}
.bk-cc-pd:before {
  content: "\\";
}
.bk-cc-remix:before {
  content: "%";
}
.bk-cc-share:before {
  content: "V";
}
.bk-cc-zero:before {
  content: "z";
}
.bk-quora:before {
  content: "Q";
}
.bk-download:before {
  content: "D";
}
.bk-tutorial:before {
  content: "I";
}
