{% extends "base.html" %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/landing.css">
{% endblock stylesheets %}

{% block content %}
    <div id="content-box">
        <header id="intro-header">
            <h1>{{ page.heading }}</h1>
            <h2>{{ page.subheading}}</h2>
        </header>
        <div id="intro-copy">
            {{ page.content }}
        </div>
        <nav>
            <ul id="nav-links" class="centered-nav">
                {% for name, url in CUSTOM_MENUITEMS %}
                    <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            <ul id="nav-services" class="centered-nav">
                {% for title, url in SOCIAL %}
                    <li><a href="{{ url }}" target="{{title}}"><i class="icon-{{ title }} svc-badge"></i></a></li>
                {% endfor %}
            </ul>
        </nav>
        {% include "footer.html" %}
    </div>

{% endblock content %}