<header id="sidebar" class="side-shadow"> <hgroup id="site-header">
           <a id="site-title" href="{{ SITEURL }}"><h1><?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:cc="http://creativecommons.org/ns#"
               xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:svg="http://www.w3.org/2000/svg"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
               xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
               aria-hidden="true"
               focusable="false"
               data-prefix="fas"
               data-icon="terminal"
               class="svg-inline--fa fa-terminal fa-w-20"
               role="img"
               height=.9em
               width=1em
               viewBox="0 0 640.00049 442.34274"
               version="1.1"
               id="svg3779"
               sodipodi:docname="terminal-solid2.svg"
               width="640.00049"
               height="442.34274"
               inkscape:version="0.92.3 (2405546, 2018-03-11)">
              <metadata
                 id="metadata3785">
                <rdf:RDF>
                  <cc:Work
                     rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                       rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                  </cc:Work>
                </rdf:RDF>
              </metadata>
              <defs
                 id="defs3783" />
              <sodipodi:namedview
                 pagecolor="#ffffff"
                 bordercolor="#666666"
                 borderopacity="1"
                 objecttolerance="10"
                 gridtolerance="10"
                 guidetolerance="10"
                 inkscape:pageopacity="0"
                 inkscape:pageshadow="2"
                 inkscape:window-width="1920"
                 inkscape:window-height="1017"
                 id="namedview3781"
                 showgrid="false"
                 inkscape:zoom="1.6289062"
                 inkscape:cx="254.61922"
                 inkscape:cy="217.247"
                 inkscape:window-x="0"
                 inkscape:window-y="30"
                 inkscape:window-maximized="1"
                 inkscape:current-layer="svg3779" />
              <path
                 d="m 257.98152,235.31375 -194.343003,194.343 c -9.373,9.373 -24.569,9.373 -33.941,0 l -22.6680001,-22.667 c -9.357,-9.357 -9.375,-24.522 -0.04,-33.901 L 161.01152,218.34275 6.9905169,63.59775 c -9.335,-9.379 -9.317,-24.544 0.04,-33.901 L 29.697517,7.02975 c 9.373,-9.373 24.569,-9.373 33.941,0 l 194.343003,194.343 c 9.373,9.372 9.373,24.568 0,33.941 z m 382.019,183.029 v -32 c 0,-13.255 -10.745,-24 -24,-24 h -304 c -13.255,0 -24,10.745 -24,24 v 32 c 0,13.255 10.745,24 24,24 h 304 c 13.255,0 24,-10.745 24,-24 z"
                 id="path3777"
                 inkscape:connector-curvature="0"
                 style="fill:currentColor" />
            </svg> {{ SITENAME }}</h1></a>
        <p id="site-desc">{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    </hgroup>
    <nav>
        <ul id="nav-links">
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <nav id="contact-roll">
        <h2>get in touch</h3>
        
        <a href="https://github.com/hkcountryman"><img src="{{ SITEURL }}/theme/img/github.png" width="32" height="32"></img></a>
                
        <a href="https://linkedin.com"><img src="{{ SITEURL }}/theme/img/linkedin.svg" width="32" height="32"></img></a>
                
        <a href="mailto:hkcountryman@gmail.com"><img src="https://icon-library.com/images/email-png-icon/email-png-icon-19.jpg"  width="32" height="32"></img></a>
    </nav>
</header>