$white: #EEEEEE;
//$white: #DFDFDF;
$black: #272822;
$gray: #8E927E;
$prebg: #E6E6E6;
$accent1: #38C5C5;
$font1: 'Raleway', sans-serif;
$font2: 'Oswald', sans-serif;
$font3: 'PT Mono', monospace;

@mixin transition{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}