@import "vars.scss";

body{
    //background: url('../img/aa.jpg') repeat;
    background-color: $white;
}

#content-box{
    //background-color: rgba(253,253,253,.08);
    background: url('../img/stressed_linen/stressed_linen.png') repeat;
    padding: 12px;
    margin: 5% auto;
    color: $white;
    font-family: $font1;
    font-size: 1.2em;
    border-bottom: 2px solid $accent1;
}

#intro-header{
    font-family: $font2;
    text-align: center;
    h1{
        font-size: 3.5em;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.centered-nav{
    text-align: center;
    padding: 0;
    li{
        display: inline;
    }
    a{
        @include transition;
        display: inline-block;
        color: $white;
        text-decoration: none;
    }
    a:hover{
        color: $accent1;
        text-shadow: 0 0 12px $gray;
    }
}

#nav-links{
    font-family: $font2;
    font-size: 1.8em;
    a{
        margin: 0 6px;
        padding: 3px;
    }
}

#nav-services{
    li{
        margin: 6px;
    }
}

.svc-badge{
    font-size: 36px;
    width: 50px;
    display: inline-block;
}

#contact-form{
    text-align: center;
}

#contact-methods{
    margin-top: 2em;
    li{
        margin: 0 24px ;
        h3{
            margin: 0.3em 0;
        }
    }
}